<div class="kv-cart-upsell">
    {% if settings.cart_product_upsell_heading != blank %}
        <h4>{{ settings.cart_product_upsell_heading }}</h4>
    {% endif %}
    <div class="kv-cart-upsell-slider"></div>
</div>