<section class="kv-section kv-default-hero">
    <div class="kv-custom-container">
       <div class="kv-default-hero-in">
         <h1>{{ section.settings.page_title }}</h1>    
    </div>  
    </div>

</section>

<style>
.kv-default-hero{
    background: '{{ section.settings.bg_color }}';
}
</style>
{% schema %}
{
  "name": "KV Default Hero",
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Page title",
    },   
    {
      "type": "text",
      "id": "bg_color",
      "label": "BG Color",
    },    
  ],
  "presets": [
    {
      "name": "KV Default Hero",
    }
  ]
}
{% endschema %}
