<section class="kv-need-help-section">
    <div class="kv-need-help-in" style="background:{{ section.settings.bg_color }};">
        {% if section.settings.need_help_heading != blank %}
            <h5>{{ section.settings.need_help_heading }}</h5>
        {% endif %}
        {% if section.settings.need_help_content != blank %}
         <div class="kv-need-help-content">{{ section.settings.need_help_content }}</div>
        {% endif %}
    </div>
</section>
{% schema %}
{
  "name": "KV Need More Help",
  "settings": [
   {
      "type": "color",
      "id": "bg_color",
      "label": "BG Color",
      "default": "#F0F8FF"
    },
    {
      "type": "text",
      "id": "need_help_heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "need_help_content",
      "label": "Content",
    },
  ],
  "presets": [
    {
      "name": "KV Need More Help",
    }
  ]
}
{% endschema %}
