@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
.kv-custom-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.kv-font-38{
    color: #1F1F1F;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -0.57px;
}


.kv-font-38 em,.kv-font-38 i{
    font-family: "Source Serif Pro" !important;
    font-weight: 400;
    color: #003665;
}

section.kv-section, footer.kv-footer{
    padding: 64px 0;
}
body header.header.page-width, .header:not(.drawer-menu).page-width {
    max-width: 1080px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.cart-count-bubble {
    background: #003665;
}
.header__icon .cart-count-bubble span {
    margin-right: 0;
}
span.lp-header__icon-truck svg {
    display: block;
}
.kv-empty-cart-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.kv-empty-cart-collection-box {
    width: calc(50% - 4px);
}
.kv-empty-cart-collection-box a {
    border-radius: 20px;
    overflow: hidden;
    height: 151px;
    display: block;
    position: relative;
}
.kv-empty-cart-collection-box h5 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    position: absolute;
    bottom: 12px;
    margin: 0;
    left: 12px;
    right: 12px;
    width: 100%;
    box-sizing: border-box;
    width: calc(100% - 24px);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kv-empty-cart-collection-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media (max-width: 767px) {
    section.kv-section, footer.kv-footer{
        padding: 36px 0;
    }
    footer.kv-footer {
        padding-left: 16px;
        padding-right: 16px;
    }
}