@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.kv-custom-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.kv-font-38{
    color: #1F1F1F;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -0.57px;
}


.kv-font-38 em,.kv-font-38 i{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

section.kv-section{
    padding: 64px 0;
}

@media (max-width: 767px) {
    section.kv-section{
        padding: 36px 0;
    }
}