@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
.kv-custom-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.kv-font-38{
    color: #1F1F1F;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.57px;
}

.kv-font-42{
    color: #1F1F1F;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.63px;
    margin: 0;
    text-align: center;
}

.kv-font-18{
    color: rgba(31, 31, 31, 0.70);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}


.kv-font-38 em,.kv-font-38 i, .kv-font-42 em, .kv-font-42 i{
    font-family: "Source Serif Pro" !important;
    font-weight: 400;
    color: #003665;
}

section.kv-section, footer.kv-footer{
    padding: 64px 0;
}
body header.header.page-width, .header:not(.drawer-menu).page-width {
    max-width: 1080px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.cart-count-bubble {
    background: #003665;
}
.header__icon .cart-count-bubble span {
    margin-right: 0;
}
span.lp-header__icon-truck svg {
    display: block;
}
.kv-empty-cart-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.kv-empty-cart-collection-box {
    width: calc(50% - 4px);
}
.kv-empty-cart-collection-box a {
    border-radius: 20px;
    overflow: hidden;
    height: 151px;
    display: block;
    position: relative;
}
.kv-empty-cart-collection-box h5 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    position: absolute;
    bottom: 8px;
    margin: 0;
    left: 12px;
    right: 12px;
    width: 100%;
    box-sizing: border-box;
    width: calc(100% - 24px);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kv-empty-cart-collection-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kv-empty-cart-search {
    border-radius: 20px;
    background: #F8F8F6;
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    margin-bottom: 24px;
}

.kv-empty-cart-search h6 {
    color: #1F1F1F;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}
form.kv-cart-search-bar-form {
    width: 100%;
}
.kv-empty-cart-search-form {
    border-radius: 18px;
    background: #FFF;
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
}
input.kv-cart-search-input {
    color: #000;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 0;
    width: 100%;
}
.kv-cart-search-bar-form input::placeholder {
  color: #808080;
}

input.kv-cart-search-input:focus{
    outline:none;
    box-shadow:none;
}
.kv-empty-cart-top h4 {
    color: #1F1F1F;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.42px;
    margin: 0;
}

.kv-empty-cart-top p {
    color: rgba(31, 31, 31, 0.60);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.kv-empty-cart-top {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}


.kv-empty-cart {
  display: flex;
  flex-direction: column;
  height: 100vh; /* or parent height */
}

.kv-empty-cart-top {
  flex: 0 0 auto; /* fixed height */
}

.kv-empty-cart-bottom {
  flex: 0 0 auto; /* fixed height */
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
.kv-empty-cart-middle::-webkit-scrollbar {
  width: 6px;
}

.kv-empty-cart-middle::-webkit-scrollbar-track {
  background: transparent;
}

.kv-empty-cart-middle::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.kv-empty-cart-middle::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.kv-empty-cart-bottom {
    background: #F0F8FF;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.kv-blue-btn {
    border-radius: 100px;
    background: #003665;
    display: flex;
    padding: 13px 32px 11px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: opacity .3s ease;
}
.kv-blue-btn:hover {
    opacity:.9;
}


.kv-empty-cart-middle {
    flex: 1 1 auto;
    overflow-y: auto;
    background: #fff;
    padding: 24px 24px 32px 24px;
}
.kv-cart-footer-small-text {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.kv-cart-footer-small-text span {
    border-radius: 100px;
    background: #FFF8EF;
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #808080;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cart-drawer .drawer__inner.gradient {
    max-width: 430px;
    width: 100%;
    padding: 0;
}
.drawer__inner-empty {
    padding: 0;
}
.kv-empty-cart-head h3, .cart-drawer h3.drawer__heading {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

span.empty-cart-bubble {
    border-radius: 100px;
    background: #003665;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.21px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16.8px;
}
.kv-empty-cart-head, .cart-drawer .drawer__header {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-drawer .drawer__header {
    padding: 20px;
}
.kv-empty-cart-head  button.drawer__close, .cart-drawer .drawer__header .drawer__close {
    border-radius: 8px;
    border: 1.016px solid #E8ECEF;
    background: #FFF;
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: initial;
}
.cart-drawer cart-drawer-items {
    background: #fff;
    padding: 24px 20px;
}
.cart-drawer .cart-item__details a {
    color: #1F1F1F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0;
}
span.metafield-single_line_text_field {
    color: #1f1f1fcc;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    display: block;
}
.cart-drawer button.quantity__button svg {
    width: 20px;
    height: 20px;
}

.kv-line-item-description {
    margin-top: 0;
}
.cart-drawer .cart-item__quantity {
    padding: 0;
    margin: 0;
}
.cart-drawer .quantity:before, .cart-drawer .quantity:after{
	display:none;
}

.cart-drawer .quantity {
    min-height: auto;
    width: auto;
    background: none;
    border: none;
    box-shadow: none;
}
.cart-drawer  .price {
    color: #1F1F1F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
}
.cart-drawer .cart-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}
.cart-drawer .cart-item__media {
    border-radius: 7.934px;
    background: #F8F8F6;
    width: 96px;
    height: 96px;
    overflow: hidden;
    padding: 8px;
}
.cart-drawer button.quantity__button {
    border-radius: 8px;
    border: 1.25px solid #E8ECEF;
    background: #FFF;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-drawer .cart-item__totals.right {
    width: 100px;
    text-align: right;
}
.cart-drawer .cart-item__details {
    width: calc(100% - 220px);
}

.cart-drawer .quantity__input {
    color: #1F1F1F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 32px;
    height: 32px;
}
.cart-drawer .quantity__button .svg-wrapper {
    width: auto;
}
.cart-drawer .cart-item__quantity {
    padding-top: 12px !important;
}
.cart-drawer .drawer__footer {
    padding: 20px;
    border: none;
}

@media (max-width: 767px) {
    section.kv-section, footer.kv-footer{
        padding: 36px 0;
    }
    footer.kv-footer {
        padding-left: 16px;
        padding-right: 16px;
    }
    .kv-font-42{
        font-size: 32px;
        letter-spacing: -0.48px;
    }
}